# Node
node_modules/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel/
.turbo/
.next-turbo/
.swc/
dist/
build/

# Env & OS
.env*
!.env.example
.DS_Store
.idea/
.vscode/

# Tests & coverage
coverage/
